// Selectors
$label: 'span' !default;
$fill-color: #789 !default;

// Dimensions
$size: 16px !default;

// Space between the control and the label
$spacing: 12px !default;
$inset: 2px !default;
$background: white !default;
$border-radius: 50% !default;
$border-size: 2px !default;
$inset-size: 2px !default;
$border-color: #abc !default;
$disabled-border-color: mix($background, $border-color, 65%) !default;
$disabled-background: mix($background, $border-color, 75%) !default;
$disabled-text-color: $border-color !default;
$focused-border-color: dodgerblue !default;

& {
  display: block;
  // Cancel out any possible text-align: center, which doesn't really
  // make sense for radio buttons.
  text-align: left;
}

// Hide the input button, we'll replace it.
& > input {
  display: none;
}

& > #{$label} {
  cursor: pointer;
}

& > #{$label}::before {
  cursor: pointer;
  content: '';
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  width: $size;
  height: $size;
  background: $background;
  box-shadow: inset 0 0 0 $border-size $border-color,
    inset 0 0 0 ($border-size + $inset-size) $background;
  border-radius: $border-radius;
  margin-right: $spacing;
}

// Checked
& > input:checked + #{$label}::before {
  background: $fill-color;
}

// Focus?
&:focus > #{$label}::before,
&:active > #{$label}::before,
&:focus-within > #{$label}::before {
  box-shadow: inset 0 0 0 $border-size $focused-border-color,
    inset 0 0 0 ($border-size + $inset-size) $background;
}

// Disabled
& > input:disabled + #{$label}::before {
  cursor: not-allowed;
  background: $disabled-background;
  box-shadow: inset 0 0 0 $border-size $disabled-border-color,
    inset 0 0 0 0 $background;
}

& > input:disabled + #{$label} {
  cursor: not-allowed;
  color: $disabled-text-color;
}
