$heading-color: #111;
$mute-color: #789;
$border-color: rgba(#78e, 0.12);
$shadow-color: rgba(#78e, 0.12);

.root {
  border-top: solid 1px $border-color;
  padding-top: 16px;
  margin: 16px auto;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 768.1px) {
    padding-top: 24px;
    margin: 8px auto;
    border-top: 0;
  }
}

.meta {
  flex: 0 0 100%;
  text-align: left;
  font-size: 0.86em;
  color: $mute-color;
  line-height: 1.6;
}

.body {
  flex: 0 0 100%;
  padding: 16px;
  border-radius: 2px;
  box-shadow: 0 0 2px $shadow-color, 0 2px 4px $shadow-color;
  background: white;
}

@media (min-width: 768.1px) {
  .root {
    flex-wrap: nowrap;
  }

  .meta {
    flex: 0 1 40%;
    order: 2;
    padding-left: 32px;
  }

  .body {
    padding: 24px;
    flex: 0 1 60%;
    order: 1;
  }
}

.title {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: $heading-color;
  border-top: solid 1px $border-color;
  padding-top: 8px;

  & + p {
    margin-top: 0;
  }
}
