.commonField {
  width: 100%;
}

.field {
  composes: commonField;
  $label: '.label';
  $input: '.input';
  @import '../../_floating-label-input.scss';
}

.prefixedField {
  composes: commonField;
  $label: '.label';
  $input: '.input';
  $prefix: '.prefix';
  $suffix: '.suffix';
  @import '../../_floating-label-input.scss';
}

.greenField {
  composes: commonField;
  $border-color: #888;
  $label-color: #888;
  $border-color-focused: #35c;
  @import '../../_floating-label-input.scss';
}

.thinField {
  composes: commonField;
  $border-size: 1px;
  $border-radius: 4px;
  @import '../../_floating-label-input.scss';
}

.thin2Field {
  composes: commonField;
  $border-size: 1px;
  $border-size-focused: 2px;
  $border-radius: 4px;
  @import '../../_floating-label-input.scss';
}

.underlineField {
  composes: commonField;
  $border-size: 2px;
  $label-displacement: -12px;
  $height: 40px;
  @import '../../_underlined-label-input.scss';
}

.smallFontField {
  composes: commonField;
  $border-size: 2px;
  $label-displacement: -12px;
  $height: 40px;
  $font-size-small: 0.7em;
  @import '../../_underlined-label-input.scss';
}
