.label {
  @import '../../ui/_bordered-radio-button.scss';
  display: block;
  padding: 4px;
}

.bigLabel {
  $size: 32px;
  $border-size: 3px;
  $inset-size: 6px;
  @import '../../ui/_bordered-radio-button.scss';
  display: block;
  padding: 8px;
  text-align: left;
}
