.label {
  @import '../../_bordered-radio-button.scss';
  display: block;
  padding: 4px;
}

.bigLabel {
  $size: 32px;
  $border-size: 3px;
  @import '../../_bordered-radio-button.scss';
  display: block;
  padding: 8px;
  text-align: left;
}
