@import '../mixins/_floating-label-input.scss';

.commonField {
  width: 100%;
}

.field {
  composes: commonField;
  @include floating-label-input($label: '.label', $input: '.input');
}

.greenField {
  composes: commonField;
  @include floating-label-input(
    $border-color: #888,
    $label-color: #888,
    $border-color-focused: #5c8
  );
}

.thinField {
  composes: commonField;
  @include floating-label-input($border-size: 1px, $border-radius: 2px);
}

.underlineField {
  composes: commonField;
  @include floating-label-input(
    $border-size: 2px,
    $horizontal-padding: 0,
    $border-style: 'underline',
    $label-displacement: -4px,
    $height: 40px
  );
}

.smallFontField {
  composes: commonField;
  @include floating-label-input(
    $border-size: 2px,
    $horizontal-padding: 0,
    $border-style: 'underline',
    $label-displacement: -4px,
    $height: 40px,
    $font-size-small: 0.7em
  );
}
