@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700');

html {
  margin: 64px;
  background: #fcfcfc;
}

.App {
  font-family: Roboto, system-ui, sans-serif;
  text-align: center;
}

textarea,
input {
  font-family: Roboto, system-ui, sans-serif;
}

h1,
h2 {
  font-size: 1.6em;
  font-family: Roboto, system-ui, sans-serif;
  font-weight: 200;
  color: #333;
  margin: 0 auto 2em auto;
}
